SUPABASE_URL=https://rvbnresadttfmbqtcxlj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Ym5yZXNhZHR0Zm1icXRjeGxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0OTAwMzQsImV4cCI6MjA5NzA2NjAzNH0.zbKSpNn-UaPP8lobXOJc8tM7DMQSO3rt9w0JNW97dRI
SUPABASE_PUBLISHABLE_KEY=sb_publishable_m7hjKRrk2mwgNu4X1peWNA_Qlxn375D
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Ym5yZXNhZHR0Zm1icXRjeGxqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ5MDAzNCwiZXhwIjoyMDk3MDY2MDM0fQ.eAVb3iwxDX8Lp6hSZRUpNC8-JFK6sU9FEkuQTGX33WQ
APP_HOST=127.0.0.1
APP_PORT=8000
ADMIN_EMAIL=admin@bplo.gov.ph
