SUPABASE_URL=https://rvbnresadttfmbqtcxlj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Ym5yZXNhZHR0Zm1icXRjeGxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0OTAwMzQsImV4cCI6MjA5NzA2NjAzNH0.zbKSpNn-UaPP8lobXOJc8tM7DMQSO3rt9w0JNW97dRI
SUPABASE_PUBLISHABLE_KEY=sb_publishable_m7hjKRrk2mwgNu4X1peWNA_Qlxn375D
APP_HOST=127.0.0.1
APP_PORT=8000